@use './variables' as *;

@mixin flex($flexDirection: row, $justifyContent: center, $alignItem: center) {
  display: flex;
  flex-direction: $flexDirection;
  align-items: $alignItem;
  justify-content: $justifyContent;
}

@mixin ellipsesOverflow($maxLines: 3){
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: $maxLines;
  -webkit-box-orient: vertical;
}

@mixin mobile {
  @media only screen and (min-width: $mobile-width) {
    @content;
  }
}

@mixin tablet {
  @media only screen and (min-width: $tablet-width) {
    @content;
  }
}