 /* Color Palette */
 $primaryColor: #EF233C;
 $secondaryColor: #222222;

 $bg: $primaryColor 0% 0% no-repeat padding-box;
 $card-bgc: #f0f0f3;
 $dark-bg: #0d455d;
 $text-color: #fff;

 /* ****Font family**** */
 $fontFamily: "Roboto", sans-serif;

//Body font sizes
$fontSizeBodySmall: 12px; 
$lineHeightBodySmall: 16px;
$fontSizeBodyMedium: 16px;
$lineHeightBodyMedium: 24px;
$fontSizeBodyLarge: 35px;
$lineHeightBodyLarge: 35px;
//Headline font sizes
$fontSizeHeadlineSmall: 24px; //line-height:32px; letter-spacing:0;
$fontSizeHeadlineMedium: 45px; //lineHeight:36px; letter-spacing:0;
$fontSizeHeadlineLarge: 57px; //line-height:40px letter-spacing:0;
//Display font sizes
$fontSizeDisplaySmall: 64px; //line-height:44px; letter-spacing:0;
//helper font sizes
$fontSizeTableStatus: 9px; //line-height:16px; letter-spacing:0.4%;

/* ****Shadows**** */
$mainBoxShadow: 0 1px 3px 0 rgba(37,39,49,.1);
$secondBoxShadow: -3px 6px 30px 5px rgba(0, 0, 0, 0.3);

/* ****Border radius**** */
$smallBorderRadius: 4px; //for buttons
$mediumBorderRadius: 12px; //for boxes
$largeBorderRadius: 24px; //for tables and main section in tablet and mobile.

/* ****Spacing **** */
$extraSmallSpacing: 4px;
$smallSpacing: 8px;
$mediumSpacing: 16px;
$largeSpacing: 24px;
$extraLargeSpacing: 30px;

/* **** Device width **** */
//This design is mobile first
$mobile-width: 576px;
$tablet-width: 768px;
$desktop-width: 992px;
$largeDesktop-width: 1200px;

/* **** helper variable **** */
$hamburgerIconSize: 25px;
$spacing: 60px;
$mobileSpacing: 16px;