@use "../scss/abstracts/" as *;

@mixin actionHeading($color) {
  color: $color;
  border-left: 2px solid $color;
}
@mixin actionBoxSize($size: 300px) {
  min-width: $size;
  min-height: $size;
  max-width: $size;
  max-height: $size;
}

.container {
  @include flex(column);
  width: 100vw;
  min-height: 100vh;

  h1, h2{
    margin: $extraLargeSpacing $extraLargeSpacing 0;
    padding: $extraSmallSpacing $largeSpacing;
    @include actionHeading($text-color)
  }

    .top{
        @include flex(column);
        width: 100vw;
        flex: 1;

        .info {
            width: 100%;            
            @include flex();
            background-color: $dark-bg;

            .carousel{
                max-width: 700px;
            }
        
            @media (min-width: 768px) {
            //   width: 1700px;
            //   height: 400px;
            }
          }
        
          .actions {
            @include flex(column);
            width: 100%;
            padding: $extraLargeSpacing;                                
        
            .action1 {
              background-color: $card-bgc;
              margin: 0 0 $largeSpacing 0;
            
              h2{
                @include actionHeading($primaryColor);
              }
              article{
                color: $secondaryColor;
                @include ellipsesOverflow(6);
              }
        
              @include tablet{                
                @include actionBoxSize();
                border-radius: 0 0 0 $largeBorderRadius;
                margin: 0 $largeSpacing 0 0;
              }
            }
        
            .action2 {
              background-color: $card-bgc;
              border-radius: 0 0 0 $largeBorderRadius;
              h2{
                @include actionHeading($primaryColor);
              }
              article{
                color: $secondaryColor;
                @include flex(column);
                height: 100%;                
                                
                & > :last-child{
                  // margin-top: 35px;
                  margin-top: auto;
                }
              }                
        
              @include tablet{
                @include actionBoxSize();
                border-radius: 0;                
              }
            }
        
            @include tablet{              
              @include flex();
              overflow: hidden;      
            }
          }
          
          @include tablet{            
            @include flex(row, center, stretch);
          }
    }


  .data {    
    width: 100%;    
    @include flex();
    flex: 1;
    background-color: $card-bgc;
    padding-top: $largeSpacing;
    overflow: hidden;
    
    .chart{
      margin-bottom: 50px;
      .pt{
        
        h1{
          @include actionHeading($primaryColor);
        }

        @include tablet{
          @include flex();
        }
      }      
      section{
        color: $secondaryColor;
        @include flex(column);

        .arrow{
          border: none;
          margin-top: $largeSpacing;
          font-size: 32px;

          &.toleft{
            transform: scaleX(-1);
          }

          @include tablet{
            display: none;
          }
        }        
      }

      @include tablet{
        margin-bottom: 100px;
      }
    }
  }

}
