@use "../scss/abstracts/" as *;

@mixin actionHeading($color) {
  color: $color;
  border-left: 2px solid $color;
}
@mixin actionBoxSize($size: 300px) {
  min-width: $size;
  min-height: $size;
  max-width: $size;
  max-height: $size;
}

.container {
  @include flex(column);
  width: 100vw;

  h1{
    margin: 30px;
    padding: $smallSpacing $largeSpacing;
    font: italic normal 300 28px/30px Roboto;
    @include actionHeading($text-color)
  }

    .top{
        @include flex(column);

        .info {
            width: 100%;            
            @include flex();
            background-color: #0d455d;

            .carousel{
                max-width: 700px;
            }
        
            @media (min-width: 768px) {
            //   width: 1700px;
            //   height: 400px;
            }
          }
        
          .actions {
            @include flex(column);
            width: 100%;
            padding: $extraLargeSpacing;                                
        
            .action1 {
              background-color: $card-bgc;
              margin: 0 0 $largeSpacing 0;
            
              h1{
                @include actionHeading($primaryColor);
              }
              article{
                color: $secondaryColor;
                @include ellipsesOverflow(6);
              }
        
              @include tablet{                
                @include actionBoxSize();
                border-radius: 0 0 0 $largeBorderRadius;
                margin: 0 $largeSpacing 0 0;
              }
            }
        
            .action2 {
              background-color: $card-bgc;
              border-radius: 0 0 0 $largeBorderRadius;
              h1{
                @include actionHeading($primaryColor);
              }
              article{
                color: $secondaryColor;
                @include flex(column);
                height: 100%;                
                                
                & > :last-child{
                  // margin-top: 35px;
                  margin-top: auto;
                }
              }                
        
              @include tablet{
                @include actionBoxSize();
                border-radius: 0 0 0 0;                
              }
            }
        
            @include tablet{              
              @include flex();
              overflow: hidden;      
            }
          }
          
          @include tablet{            
            @include flex(row, center, stretch);
          }
    }


  .data {    
    width: 100%;    
    @include flex();
    background-color: $card-bgc;
    padding-top: $largeSpacing;
    
    .chart{
      .pt{
        @include flex();
        h1{
          @include actionHeading($primaryColor);
        }
      }      
      section{
        color: $secondaryColor;
      }
    }
  }

}
