@use "../scss/abstracts/" as *;

.container {
  // display: flex;
  // flex-direction: column;
  @include flex(column);
  width: 100vw;

  h1{        
    margin: 30px;
    padding: 8px 24px;
    font: italic normal 300 28px/30px Roboto;
    border-left: 1px solid #fff;
  }

    .top{
        // display: flex;
        // flex-direction: column;
        @include flex(column);

        .info {
            width: 100%;
            // display: flex;
            // justify-content: center;
            // align-items: center;
            @include flex();
            background-color: #0d455d;

            .carousel{
                max-width: 700px;
            }
        
            @media (min-width: 768px) {
            //   width: 1700px;
            //   height: 400px;
            }
          }
        
          .actions {
            @include flex(column);
            width: 100%;
            padding: 30px;                    
            background-color: #ffffff;
        
            .action1 {
              background-color: #f0f0f3;
              margin: 0 0 24px 0;
            
              h1{
                color: #EF233C;                
                border-left: 1px solid #EF233C;
              }
              article{
                color: #222222;
                @include ellipsesOverflow(6);
              }
        
              // @media (min-width: 768px) {
              @include tablet{
                border-radius: 0 0 0 24px;
                margin: 0 24px 0 0;
                min-width: 300px;
                min-height: 300px;
                max-width: 300px;
                max-height: 300px;
              }
            }
        
            .action2 {
              background-color: #f0f0f3;
              border-radius: 0 0 0 24px;
              h1{
                color: #EF233C;                
                border-left: 1px solid #EF233C;
              }
              article{
                color: #222222;
                @include ellipsesOverflow(6);
              }  
              button{
                margin-top: 35px;
              }
        
              // @media (min-width: 768px) {
              @include tablet{
                border-radius: 0 0 0 0;
                min-width: 300px;
                min-height: 300px;
                max-width: 300px;
                max-height: 300px;
              }
            }
        
            // @media (min-width: 768px) {            
            @include tablet{
              // flex-direction: row;
              // justify-content: center;
              // align-items: center;
              @include flex();
              overflow: hidden;      
            }
          }

          // @media (min-width: 768px) {
          @include tablet{
            // flex-direction: row;
            @include flex(row, center, stretch);
          }
    }


  .data {    
    width: 100%;
    // display: flex;
    // justify-content: center;
    // align-items: center;
    @include flex();
    background-color: #f0f0f3;
    padding-top: 24px;
    
    .chart{
      // width: 810px;
      .pt{
        // display: flex;
        // justify-content: center;
        @include flex();
        h1{
          color: #EF233C;
          // repeat
          border-left: 1px solid #EF233C;
        }
      }      
      section{
        color: #222222;
      }
    }
  }

}
