@use "../scss/abstracts/" as *;

.login{   
    @include flex();
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;

    form{        
        @include flex(column);
        width: 280px;
        height: 450px;
        padding: $largeSpacing;
        background-color: $text-color;
        box-shadow: $mainBoxShadow;
        margin-top: 7.5px;
        margin-bottom: 7.5px;

        h3{            
            font-size: 22px;
            margin: $mediumSpacing 0;
            font-weight: 400;
            color: $secondaryColor;
        }
        p{
            text-align: left;
            color: $secondaryColor
        }

        & > :last-child{
            margin-top: auto;
        }
    }
}

