@use "../scss/abstracts/" as *;

.avatar{
    // display: flex;
    // justify-content: center;
    // align-items: center;
    @include flex();
    overflow: hidden;
    position: relative;
    width: 53px;
    height: 53px;
    background: #EF233C 0% 0% no-repeat padding-box;
    border-radius: 100%;
    z-index: 4;

    .icon{
        z-index: 4;

        &.inversed{
            fill: #EF233C;
        }
    }

    &.inversed{
        background: #222222 0% 0% no-repeat padding-box;        
    }
}