@use "../scss/abstracts/" as *;

.avatar{
    @include flex();
    overflow: hidden;
    position: relative;
    width: 53px;
    height: 53px;
    background: $bg;
    border-radius: 100%;
    z-index: 4;

    .icon{
        z-index: 4;

        &.inversed{
            fill: $primaryColor
        }
    }

    &.inversed{
        background-color: $secondaryColor;
    }
}