.avatar{
    width: 53px;
    height: 53px;
    /* UI Properties */
    background: #EF233C 0% 0% no-repeat padding-box;
    opacity: 1;
    border-radius: 100%;
    
    display: flex;
    justify-content: center;
    align-items: center;
}