@use "../scss/abstracts/" as *;

.backdrop{
    @include flex(column, flex-start);
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height:100vh;
    background: $bg;
    color: $text-color;
    padding-top: 142px;

    .brand{
        margin-top: auto;
    }
}