.backdrop{
    position: fixed;
    top: 0;
    left: 0;

    width: 100vw;
    height:100vh;

    background: #EF233C 0% 0% no-repeat padding-box;
    color: #fff;

    // z-index: 1;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    padding-top: 142px;

    .brand{
        margin-top: auto;
    }
}