@use "../scss/abstracts/" as *;

.brand{
    margin: $extraLargeSpacing;
    .icon{
        z-index: 4;
        fill:$primaryColor;
        
        &.inversed{
            fill: $text-color;
        }
    }
}