.custombutton{
    width: 245px;
    height: 52px;

    // display: flex;
    // justify-content: center;
    // align-items: center;

    /* UI Properties */
    color: #fff;
    background: #EF233C 0% 0% no-repeat padding-box;
    border-radius: 0px 0px 0px 12px;
    border: none;

    cursor: pointer;
    
    font: normal normal 300 16px/24px Roboto;
    letter-spacing: 0px;

    &:hover{
        background-color: lighten(#EF233C, 5);
    }
    &:active{
        background-color: darken(#EF233C, 5);
    }
}