@use "../scss/abstracts/" as *;

.custombutton{
    width: 245px;
    height: 52px;
    color: $text-color;
    background: $bg;
    border-radius: 0px 0px 0px $mediumBorderRadius;
    border: none;
    cursor: pointer;
    
    font: normal normal 300 16px/24px Roboto;
    letter-spacing: 0px;

    &:hover{
        background-color: lighten($primaryColor, 5);
    }
    &:active{
        background-color: darken($primaryColor, 5);
    }
}