@use "../scss/abstracts/" as *;

.footer{
    // display: flex;
    // justify-content: center;
    // align-items: center;
    @include flex();
    background-color: #222222;    
    width: 100%;
    height: 165px;
}