@use "../scss/abstracts/" as *;

.hamburgericon {
  // display: flex;
  // flex-direction: column;
  // justify-content: space-around;
  // align-items: flex-end;
  @include flex(column, space-around, flex-end);
  width: 25px;
  height: 25px;
  background: transparent;
  border: none;
  cursor: pointer;
  z-index: 3;

  .first, .second, .third{
    display: block;
    position: relative;
    height: 2px;
    background-color: var(--primaryColor);;
  }  

  .first,
  .third{
    width: 100%;
    transition: all .3s ease-in-out;
  }
  .second {
    width: 90%;
    transition: all .5s ease-in-out;
  }
  
  &.open{
    .first, .third{
      transform-origin: 3%;
      background-color: #fff;
    }
    .first{     
        transform: rotate(45deg);      
    }
    .second{
      transform: translateX(10px);
      background: transparent;
      box-shadow: none;
    }
    .third{      
        transform: rotate(-45deg);      
    }
  }
}
