@use "../scss/abstracts/" as *;

.hamburgericon {
  @include flex(column, space-around, flex-end);
  width: $hamburgerIconSize;
  height: $hamburgerIconSize;
  background: transparent;
  border: none;
  cursor: pointer;
  z-index: 3;

  .first, .second, .third{
    display: block;
    position: relative;
    height: 2px;
    background-color: $primaryColor;
  }  

  .first,
  .third{
    width: 100%;
    transition: all .3s ease-in-out;
  }
  .second {
    width: 90%;
    transition: all .5s ease-in-out;
  }
  
  &.open{
    .first, .third{
      transform-origin: 3%;
      background-color: $text-color;
    }
    .first{     
        transform: rotate(45deg);      
    }
    .second{
      transform: translateX(10px);
      background: transparent;
      box-shadow: none;
    }
    .third{      
        transform: rotate(-45deg);      
    }
  }
}
