@use "../scss/abstracts/" as *;

menu {
    .menuitem {
        @include flex();
        @include trans(all ease 200ms);
        margin: $extraLargeSpacing $smallSpacing;

        .icon {
            margin: 0 $smallSpacing;
            fill: $text-color;
        }        
        &:hover, &:hover .icon {
            color: $secondaryColor;
            fill: $secondaryColor;

            @include tablet{                
                color: $primaryColor;
                fill: $primaryColor;
            }
        }        
    }
    & > :first-child{        
        margin-right: auto;        
    }

    @include tablet {
        @include flex(row, flex-end, center);
    } 
}