@use "../scss/abstracts/" as *;

menu {
    .menuitem {
        // display: flex;
        // justify-content: center;
        // align-items: center;
        @include flex();
        margin: 30px 8px;

        .icon {
            margin: 0 8px;
            fill:#fff;
        }        
        &:hover, &:hover .icon {
            color: #EF233C;
            fill: #EF233C;
            &.inverse{
                fill: #fff;
            }
        }        
    }
    & > :first-child{        
        margin-right: auto;        
    }

    // @media (min-width: 768px) {
    @include tablet {
        // display: flex;
        // justify-content: flex-end;
        // align-items: center;
        @include flex(row, flex-end, center);
    } 
}