menu {

    // width: 100%;
    
    .menuitem {
        display: flex;
        justify-content: center;
        align-items: center;

        margin: 30px 8px;

        .icon {
            margin: 0 8px;
            fill:#fff;
        }        
        &:hover, &:hover .icon {
            color: #EF233C;
            fill: #EF233C;
            &.inverse{
                fill: #fff;
            }
        }        
    }
    .logout{
        margin-right: auto;
    }

    @media (min-width: 768px) {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    } 
}