@use "../scss/abstracts/" as *;

.navBar {
    // display: flex;
    color: #fff;

    .userinfo {
        // display: flex;
        // justify-content: center;
        // align-items: center;       
        @include flex();
        font-style: italic;
        z-index: 3;

        span{
            margin-left: 18px;
        }
        .link{            
            &:hover{
                text-decoration: underline;
            }
        }
    }

    .divider{
        display: none;
        // @media (min-width: 768px) {
        @include tablet {
            display: block;
            margin-left: 12px;
            border-left: 1px solid #fff;
            width: 1px;
            height: 20px;
        }
    }

    .topmenu{
        display: none;
        // @media (min-width: 768px) {
        @include tablet {
            display: block;
            width: 100%;            
        }
    }

    // @media (min-width: 768px) {
    @include tablet {
        // flex-direction: row;
        // align-items: center;
        @include flex();
        width: 100%;
    }
}

.hamburger {
    position: absolute;
    top: 30px;
    right: 30px;

    // @media (min-width: 768px) {
    @include tablet {
        display: none;
    }
}