@use "../scss/abstracts/" as *;

.navBar {
    color: $text-color;

    .userinfo {
        @include flex();
        position: relative;
        font-style: italic;

        & > span{
            margin-left: $mediumSpacing;
        }
        .link{            
            &:hover{
                text-decoration: underline;
            }
        }
    }

    .divider{
        display: none;
        @include tablet {
            display: block;
            margin-left: $mediumSpacing;
            border-left: 1px solid $text-color;
            width: 1px;
            height: 20px;
        }
    }

    .topmenu{
        display: none;
        @include tablet {
            display: block;
            width: 100%;            
        }
    }

    @include tablet {        
        @include flex();
        width: 100%;
    }
}

.hamburger {
    position: absolute;
    top: $extraLargeSpacing;
    right: $extraLargeSpacing;

    @include tablet {
        display: none;
    }
}