@use "../../scss/abstracts/" as *;

.bottomaxis {
  font-size: $fontSizeNormal;
  color: $chart-axis-text-color;

  path {
    stroke: $chart-line-color;
  }

  line {
    stroke: $chart-line-color;
  }
}
