@use "./abstracts/" as *;
@import url(../assets/fonts/css/roboto.css);

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: block;
  width: 100%;
}

ol,
ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: unset;
}

input,
button,
select {
  color: inherit;
  font: inherit;
}

h1{  
  font: italic normal 300 35px $fontFamily;
  line-height: $lineHeightBodyLarge;
}
h2{  
  font: italic normal 300 25px $fontFamily;
  line-height: 33px;
}

//general styles
body {
  /* Add some padding on document's body to prevent the content
    to go underneath the header */
  padding-top: $mainHeaderSize; 

  background-color: $bg;
  color: $text-color;
  font: normal normal 300 $fontSizeBodyMedium $fontFamily;
  line-height: $lineHeightBodyMedium;
  letter-spacing: 0px;
  overflow-x: hidden;
}

//$-------- scrollbar styles
::-webkit-scrollbar {
  // width: 0.5rem;
  display: none;
}

::-webkit-scrollbar-track {
  background: $bg;
}

::-webkit-scrollbar-thumb {
  background-color: $secondaryColor;
  border-radius: 100vw;
}