@use "./abstracts/" as *;
@import url(../assets/fonts/css/roboto.css);

// html {
 
// }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: block;
  width: 100%;
}

ol,
ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: unset;
}

input,
button,
select {
  color: inherit;
  font: inherit;
}

h1{  
  font: italic normal 300 35px $fontFamily;
  line-height: $lineHeightBodyLarge;
}
h2{  
  font: italic normal 300 25px $fontFamily;
  line-height: 33px;
}

//general styles
body {
  /* Add some padding on document's body to prevent the content
    to go underneath the header */
  padding-top: 90px; 

  background-color: $bg;
  color: $text-color;
  font: normal normal 300 $fontSizeBodyMedium $fontFamily;
  line-height: $lineHeightBodyMedium;
  letter-spacing: 0px;
  overflow-x: hidden;
}

@include tablet {
  .topNav_left_menu_open {
    display: block;
  }

  .topNav_left_menu_close {
    display: none;
  }
}

@include tablet {
  .sidebar__open .main_wrapper {
    height: 100vh;
    overflow: hidden;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    transform: scale(0.9) translateX(45%);
    transition: all 0.5s ease-in-out;
    box-shadow: $secondBoxShadow;
  }

  .sidebar__open .topNav_left_menu_open {
    display: none;
  }

  .sidebar__open .topNav_left_menu_close {
    display: block;
  }
}

@include mobile {
  .sidebar__open .main_wrapper {
    transform: scale(0.9) translateX(60%);
  }
}

#overlay-root > div {
  padding: 0;
}

.main_wrapper {
  transform: scale(1) translateX(0);
  // transition: all 0.5s ease-in-out;
}


//$-------- scrollbar styles
::-webkit-scrollbar {
  // width: 0.5rem;
  display: none;
}

::-webkit-scrollbar-track {
  background: $bg;
}

::-webkit-scrollbar-thumb {
  background-color: $secondaryColor;
  border-radius: 100vw;
}